* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--blue: #1da1f2;
	--black: #14171a;
	--dark-gray: #657786;
	--light-gray: #aab8c2;
	--x-gray: #e1e8ed;
	--xx-gray: #f5f8fa;
	--white: #fff;
}

body {
	background-color: var(--x-gray);
}

body,
input,
button,
textarea {
	font: 500 1rem "Roboto", sans-serif;
}
